# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_SITE_URL=http://localhost:3001

# Or Production
# NEXT_PUBLIC_API_URL=https://api.seplitza.ru
# NEXT_PUBLIC_SITE_URL=https://seplitza.ru
