node_modules
dist
.env
.env.local
.env.production
uploads/*
!uploads/.gitkeep
.DS_Store
*.log
logs/
*.tar.gz
*.gz
rejuvena-dump.gz
backend-deploy.tar.gz
.vscode/
.idea/
.pm2/
tmp/
temp/
admin-panel/node_modules
admin-panel/dist
